.col-md-12 {
    background-color: rgb(222, 243, 222);
    width: 100%;
}


div{
    background-color: grey;
    
}

h5 {
    padding-bottom: 0.2em;
    padding-left: 1em;
    color: whitesmoke;
}

/* col, .mt-3{
    background-color: purple;

} */

input.btn-md.btn-primary.px-5{
    background-color: darkgrey;
    border-color: whitesmoke
}

h1 {
    padding-bottom: 0.2em;
    padding-left: 1em;
    color: whitesmoke;
}

th {
    color: whitesmoke;
    background-color: darkgrey;
}

td {
    background-color: grey;
}

.col, .text-align {
    text-align:center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row-spacer {
    margin-bottom: 2em;
}

button {
    background-color: whitesmoke;
    border-color: darkgrey;
}